.title{
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
}
#author,p{
    font-size: 15px;
}
#dropdown-basic-button{
    background-color: #282c34;
    color: white;
    border-color: #282c34;
}
#dropdown{
    background-color: #282c34;
}
.hidden{
    display: none;
}
.visible{
    display: block;
    background-color: transparent;
    width: 80vw;
}